.slide-from-bottom {
    animation: slideInBottom 1s forwards;
}

.slide-from-right {
    animation: slideInRight 2s forwards;
}

@keyframes slideInBottom {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
