.slide-from-bottom {
    animation: slideInBottom 1s forwards;
}

@keyframes slideInBottom {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}